<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--配置全局变量 -->
	<settings>
		<!-- 开启驼峰命名法: Table(create_time) ->createTime -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 打印sql语句、参数、以及执行结果 -->
		<setting name="logImpl" value="STDOUT_LOGGING"/>
		<!-- 当resultType 类型为Map时…… -->
		<setting name="callSettersOnNulls" value="true"/>
	</settings>

	<!-- 指定自定义拦截器 -->
	<plugins>
		<plugin interceptor="com.example.demo.config.PageInterceptor">
			<property name="pageSqlId" value=".*List" />
		</plugin>
	</plugins>

</configuration>